%header.header
  .container
    .logo
      = link_to (image_tag "logo.png"), root_path
    %nav.navbar.navbar-expand-lg
      %a.navbar-brand{href: "#"} Navbar
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.active
            = link_to 'Home', root_path
          %li.active
            = link_to 'About', welcome_page_public_info_index_path
          %li.active
            %a{href: "#plans"} Plans
          %li.active
            %a{href: "#plans"} Magic Eight ball
        %ul.navbar-nav.ml-auto
          -if user_signed_in?
            %li.active
              %a{href:edit_user_registration_path} Profile
            %li.active
              %a{href:destroy_user_session_path,method: :delete} Logout
          -else
            %li.active
              %a{"data-target" => "#SignInModal", "data-toggle" => "modal", href: "#"} Sign in
            %li.active
              %a{"data-target" => "#SignUpModal", "data-toggle" => "modal", href: "#"} Sign up
%section.caroseul
  .owl-carousel.owl-theme
    .item
      %span= image_tag "caroseul-1.jpg", alt: "Icon"
      .container
        .caroseul-caption
          %small Welcome to
          %h2 BetBuilder
          %a{href: "#plans"}
            View Plans
            %i.fa.fa-angle-double-right
    .item
      %span= image_tag "caroseul-1.jpg", alt: "Icon"
      .container
        .caroseul-caption
          %small Welcome to
          %h2 BetBuilder
          %a{href: "#plans"}
            View Plans
            %i.fa.fa-angle-double-right
%section.signup-for-free
  .container
    %h2
      %big We dig the stats, we’ve done the form,
      %small you get the tips- free, every day”
    -if !user_signed_in?
      %a{href: "#", "data-target" => "#SignUpModal", "data-toggle" => "modal"} Sign up for free tips daily
%section.description-wrap
  .container
    .d-flex
      .description-img.my-auto
        = image_tag "img-01.png", alt: "Icon", class: "for-desktop"
        = image_tag "img-02.jpg", alt: "Icon", class: "for-mobile-ipade"
      .description-text
        %p
          At Betbuilder we have devisived a way of teaching a computer how to do the form without the use of price and market sentiment.
          %strong What does this mean?
        %p
          You get an objective tipping service, an effecitve tipping service and a service that isn’t concerned with price- just winners.
          %strong But guess what?
          It’s gets even better than that, we present these picks for every race meeting, everyday, for free! Yep. Every top 4 race selection, free.
        %p
          The difference between us and the competition is we measure everything. Current daily tips are resulted live after they settle, we measure the success rate of our picks and we also measure which race track we are successful at so we can get better.
        %p
          So the final product is smart, scientific tipping for free, everyday, to balance your own form analysis with confidence.  DELETE NEXT PART TO MONEY BAG AFTER GORILLAS have devised a method for each betting type which is actually profitable, found in our Gorillas membership appropriately named because you get exactly that –
          %strong Gorillas!!
          In addition to this we have jam packed our Pineapples subscription with tools not found anywhere else: Race strength, Best betting markets, Magic eightball that provides tips at click for next to go races, exotics numbers and more.
        %p
          %strong The features don’t end at tipping
          and we are just getting started. So don’t listen to some smart alec bookmaker has been OR some desperate punter looking for the next way to waste his money, think objectively, be patient and the spoils will be yours. Hope to see you track-side punters.
        %h6
          %em Regards,
          %strong Paul Gradwell
          %em Betbuilder founder and statistics enthusiast
%section.plans-wrap#plans
  .container
    %h2
      %big Plans
    %ul.d-flex.plans-ul
      - @plans.each do |plan|
        %li
          .plans-box{class: %w[pineapples_tier_1 magic_eightball_tier_3].include?(plan.payment_gateway_plan_identifier) ? '' : 'coming_soon'}
            %h3
              = plan.name
            %h6
              %strong
                = "#{humanized_money_with_symbol(plan.price)} /"
              = "#{plan.interval} #{plan.interval_count}"
            .plans-point
              = plan.description.html_safe
            - subscription = current_user.get_subscription(plan.id) if current_user
            .icon-img= image_tag "home_#{plan.payment_gateway_plan_identifier}.png", height: 90, alt: "Icon"
            .subscribe-btn
              -if %w[pineapples_tier_1 magic_eightball_tier_3].include?(plan.payment_gateway_plan_identifier)
                - if user_signed_in?
                  - if subscription
                    = link_to("Subscribed", plan_subscription_path(plan, subscription), class:'btn btn-info')
                  - else
                    %a{"data-target" => "#addressModal", "data-toggle" => "modal", :type => "link", onclick: "$('.plan_id').val(#{plan.id})"} Subscribe
                -else
                  %a{href: "#", "data-target" => "#SignInModal", "data-toggle" => "modal"} Subscribe
              - else
                %a{:disabled => "disabled", :type => "link"} Subscribe
%footer.footer
  .container
    %p 18+ Don't let the game play you. Stay in control. Gamble responsibly. Think! About your choices.
    %p
      Call Gambling Help on
      %strong 1800 858 858
      or visit
      %em www.gamblinghelp.nsw.gov.au
      or
      %em www.gamblinghelponline.org.au
= render 'plans/address_modal' if user_signed_in?
#SignUpModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-body
        .card
          .card-body
            %h1{style: "text-align:center;"} Sign up
            %a{href: "/users/auth/facebook"}
              %img{src: "#{image_path('fb_login.png')}", style: "width:100%;padding:20px;"}/
            %h3{style: "text-align:center;"} Or
            = render 'devise/registrations/form'
#SignInModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-body
        .card
          .card-body
            %a{href: "/users/auth/facebook"}
              %img{src: "#{image_path('fb_login.png')}", style: "width:100%;padding:20px;"}/
            %h1.card-title{style: "text-align:center;"} OR
            %h3{style: "text-align:center;"} Sign in with an account
            %p#login_error.hide Invalid Email or password
            = form_for(resource, as: resource_name, url: session_path(resource_name), remote: true, authenticity_token: true, html: { id: 'login_form' }) do |f|
              .form-group
                .field
                  = f.email_field :email, autofocus: true, placeholder: 'Email address', class: 'form-control', id: 'email'
              .form-group
                .field
                  = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control', id: 'password'
              %p
                By entering Betbuilder I accept
                %a{href: terms_and_conditions_public_info_index_path, target: "_blank"} Terms and Conditions
              .actions
                = f.submit 'Sign in', class: 'btn btn-secondary', style: 'width: 100%; font-size: 22px; font-weight: bold;'
:javascript
  $('.owl-carousel').owlCarousel({
    items:1,
    margin:0,
    animateIn: 'fadeIn',
    animateOut: 'fadeOut'
  });
  $(document).ready(function($) {
    $('a[href^="#"]').bind('click.smoothscroll',function (e) {
      e.preventDefault();
      var target = this.hash,
          $target = $(target);
      $('html, body').stop().animate( {
        'scrollTop': $target.offset().top-40
      }, 900, 'swing', function () {
        window.location.hash = target;
      });
    });
  });
